.App {
  max-width: 50rem;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.App-header {
  margin-bottom: 2rem;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  margin: 0;
  font-size: 3rem;
  border-bottom: 4px solid #444;
}

.App-parrot-left {
  margin-right: 0.5rem;
}

.App-parrot-right {
  margin-left: 0.5rem;
}

.App-body {
  display: flex;
  min-height: 20rem;
}

.App-footer {
  padding: 2rem;
  color: #666;
  text-align: center;
}

@media (max-width: 37.5em) {
  .App-body {
    flex-direction: column;
  }
}
