.DropZone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  width: 100%;
  min-height: 18.75rem;
  margin: 0 auto;
  padding: 2.5rem;
  border: 2px dashed #313131;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.DropZone-title {
  margin: 0;
  font-size: 1.5rem;
}

.DropZone-prompt {
  text-decoration: underline;
}

.DropZone:hover .DropZone-prompt {
  color: #72AAAA;
}
