.EmojiZone {
  flex: 2;
  width: 100%;
  height: 20rem;
  margin: 0 0 0 0.725rem;
  border: 2px solid #313131;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.EmojiZone-list {
  height: calc(100% - 2.5rem);
  margin: 0;
  padding: 0 1.5rem;
  list-style: none;
  overflow: auto;
}

@media (max-width: 37.5em) {
  .EmojiZone {
    margin: 0.725rem 0 0;
    max-height: 24rem;
  }
}
