.EmojiZone {
  flex: 2;
  width: 100%;
  max-width: 43.75rem;
  min-height: 18.75rem;
  margin: 0 0 0 0.5rem;
  padding: 0 1.5rem;
  border: 2px solid #313131;
  border-radius: 5px;
  box-sizing: border-box;
}

.EmojiZone-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
