.EmojiItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #313131;
  padding: 1rem 0;
}

.EmojiItem:last-child {
  border: none;
}

.EmojiItem-spinner,
.EmojiItem-image {
  flex: 0 2rem;
  height: 2rem;
  width: 2rem;
}

.EmojiItem-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 1s infinite ease-in-out;
}

.EmojiItem-spinner svg {
  height: 1.5rem;
  width: 1.5rem;
}

.EmojiItem-name {
  flex: 1;
  padding: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.EmojiItem-action {
  cursor: pointer;
  padding: 0 0.5rem;
}

.EmojiItem-action,
.EmojiItem-action--download:visited,
.EmojiItem-action--remove:visited {
  color: inherit;
}

.EmojiItem-action--download:hover {
  color: #72AAAA;
}

.EmojiItem-action--remove:hover {
  color: #EC6363;
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(359deg); }
}

