html,
body {
  margin: 0;
  padding: 0;
  color: #444;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  display: inline-block;
  padding: 1.5rem 4rem 1.5rem;
  margin: 0;
  font-size: 3rem;
  border-bottom: 4px solid #444;
}

.clickable {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.container {
  max-width: 800px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.error-view,
.loading-view,
.success-view,
.upload-view {
  width: 100%;
  max-width: 700px;
  min-height: 300px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.success-view {
  border: 2px solid #313131;
}

.error-view {
  border: 2px solid #f44336;
}

.loading-view,
.upload-view {
  border: 2px dashed #313131;
}

.dz-message {
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 1rem 0;
}

.emoji-output-dimension-selector {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  padding: 0 2rem 0;
}

.emoji-output-dimension-selector label {
  padding: 10px 5px;
}

.emoji-upload-preview .dz-image-preview {
  margin-top: 1rem;
}

.emoji-button {
  display: block;
  margin: 2rem auto 0;
  padding: 1rem;
  background-color: #72AAAA;
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

.emoji-button--error {
  background-color: #f44336;
}

footer {
  color: #666;
  padding: 2rem;
}

/* Loader CSS from http://projects.lukehaas.me/css-loaders/ */
.loader {
  color: #72AAAA;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
